.containerx {
  width: 90vw;
  display: block;
  margin: 0 auto;
  z-index: 100;
}

.featured-container {
  background-color: $background-color;
  color: $white;
  padding: 8% 0;
}

.toothy {
  max-width: 100%;
}
.story-container {
  width: 85%;
  margin: 0 auto;
  border: em(20) solid;
  border-bottom-style: none;
  border-color: $featured-color $featured-color $background-color $featured-color;
}

.main-story-container {
  margin: 0 auto;
  background-image: url(../img/featured/mainguy2.jpg);
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 60px;
  max-width: 900px;
  & p {
    @include date;
  }
  & h1 {
    @include headline;
    &:hover {
      color: $featured-color;
      transition: 0.3s ease;
      text-decoration: none;
    }
  }
  & .subhead {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    margin-top: -25px;
    font-weight: lighter;
  }
}

.salmon {
  color: $featured-color;
}

.substory-container {
  margin: 0 auto;
  padding: 1% 6%;
  max-width: 900px;

  & .row {
    height: 200px;
  }
  & .col {
    padding: 10px;
    color: $white;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: left;
    height: 100%;
    position: relative;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cstyle%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-50%);}}%3C/style%3E%3Cpath fill='none' stroke='#f00' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 10em 6em;
    background-size: auto 4px;
    background-repeat: repeat-x;
    border: 5px solid $background-color;
  }
  & p {
    @include date;
  }
  & img {
    float: right;
    width: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;

  }
}
