// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------



.top-section {
  padding: 1.5% 0;
}

.topicons {
  width: 50px;
  margin-top: 20px;
}

#logo {
  width: 150px;
}

nav i.material-icons {
  font-size: 50px;
  margin-top: 20px;
}

nav {
padding: 0 50px;
}
