.side-nav {
  width: 50vw;
  background-color: $nav-background;
  color: $nav-color;
}

.side-nav li {
  text-align: center;

}

.side-nav-links li a {
  text-transform: uppercase;
  margin: 5% 10%;
  background-color: $nav-li;
  color: $nav-color;
  font-size: 7rem;
  padding: 10% 0;
  line-height: 10px;
  &:hover {
    background-color: $white;
    text-decoration: none;
  }
}

.nav-bottom-links li {
  display: inline-block;
  text-align: center;
}

.nav-bottom-links {
  margin: 0 auto;
  text-align: center;
}
// #mobile-demo > li:nth-child(7), #mobile-demo > li:nth-child(8) > a{
//   display: inline-block;
//   background-color: $nav-color;
//   font-size: em(10);
// }
//
#mobile-demo > p {
  text-align: center;
  font-size: em(30);
  color: $nav-li;

}

#mobile-demo > p > a {
  display: inline;
  font-size: 50px;
}

#mobile-demo > a {
    display: inline-block;
}
// .side nav li a {
//   color: $nav-color;
// }

#side-logo {
  width: 30%;
  display: block;
  margin: 5% auto;
}
