// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------


button {
	padding: 20px 40px;
  background: none;
  border: none;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
	cursor: pointer;
	&:after, &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 2px solid #000;
		transition: transform .4s;
  }
	&:after {
		transform: translate(5px, 5px);
  }
	&:before {
		transform: translate(-5px, -5px);
  }
	&:hover {
		&:after, &:before {
			transform: translate(0);
    }}
    }
